# Go specific
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go test and benchmark files
*.test
*.prof

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.lo
*.la
*.p
*.go

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the ones you use)
/vendor/
/Godeps/

# Output directories
/_output/
/_obj/

# Other Go related ignore patterns
.idea/
.vscode/
.DS_Store
